matplotlib
tensorflow==1.14.0
pydub
absl-py
astor
bleach
certifi
gast
grpcio
h5py
html5lib
Keras
Keras-Applications
Keras-Preprocessing
Markdown
numpy
protobuf
py
pytest
PyYAML
scipy
six
tensorboard==1.14.0
termcolor
Werkzeug
progressbar